* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navigation bar */

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin: 0 90px;
}
.grow-list{
  flex: 1;
}
.navigation-bar .logo {
  width: 80%;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
 
}
.menu li {
  list-style: none;
  margin: 15px;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.menu li:hover {
  color: #5955b3;
  scale: 1.04;
}

.btn {
  background-color: #5955b3;
  color: #ffffff;
  padding: 12px 23px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left section */

.left-section {
  width: 50%;
  margin-left: 104px;
}
.left-section h1 {
  font-size: 3rem;
  color: #3c2f60;
  line-height: 1.2;
}
.left-section p {
  color: #828282;
  margin-top: 10px;
  font-size: small;
  font-weight: 400;
}
.left-section h1 span {
  color: #5955b3;
}
.left-section div .big-btn {
  margin-top: 50px;
}

/* right section */

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-section img {
  width: 75%;
  margin-right: 20px;
  margin-top: 10px;
}
